@font-face {
    font-family: "DroidKufi-bold";
    src: url('../fonts/DroidKufi-bold.ttf');
}
@font-face {
    font-family: "DroidKufi-normal";
    src: url('../fonts/DroidKufi-Regular.ttf');
}
*{font-family:DroidKufi-bold, sans-serif;}

header nav{
    box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.5);

}

a:hover{text-decoration: none;}
nav ul li {
    float: right;
}

nav ul a{font-size: 0.9rem;}
nav ul li a:hover,nav ul li a:focus{color: #fff;text-decoration: none;}
nav .nav-wrapper{padding: 0 15px;}
.side-nav{  background: #ddd;}
.side-nav a{background: #1976d2;color: #fff;}
.side-nav a:hover{background: #ddd;color: #1976d2;}

#sidenav-overlay{z-index: 0;}
.slide-text{top: 8%;}
.control-round .carousel-control,
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{color: #1976d2;background: #fdfdfd;font-size: 34px;transition: 0.3s all;}
.indicators-line > .carousel-indicators li{ margin: 1px 5px !important;}


@media only screen and (min-width: 993px) {
    .container {
         width:85%;
    }
}
.section{padding-top: 2.5rem;padding-bottom: 2.5rem;}
.section h1{position: relative;font-size: 2rem;margin: 2.1rem auto 2.68rem auto;text-shadow: 2px 2px 2px rgba(0,0,0,.75);border-bottom: 1px solid #fff;padding-bottom: 10px;box-sizing: border-box;width: 200px;/*! margin: 0 auto; */}

.about,.slider{
    box-shadow: -3px 2px 8px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px 2px 8px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -3px 2px 8px 2px rgba(0, 0, 0, 0.5);
}
.about{
    background: #5273C9;
    color: #fff;
}
.about .a-b *{font-family: DroidKufi-normal;}
.about .a-b h3 {
    font-size: 1.9em;
    color: #fff;
    letter-spacing: 1px;
}
.about .a-b p{
    line-height: 25px;
    text-align: justify;
    font-size: 1em;
}

.sup-title {
    font-size: 20px;
}
section.footer{padding-bottom: 0;}
.contact {
    position: relative;
    border-top: 5px solid #5273C9;
    background: url('../images/mess.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contact .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.63);
}
.main-msg h2 {
    color: #0d0f4a;
    margin-bottom: 25px;
    position: relative;
    font-family: DroidKufi-normal, sans-serif;

}
.main-msg p {
    position: relative;
    color: #0d0f4a;
    font-size: 20px;
    font-family: DroidKufi-normal, sans-serif;
}
.form label {
    margin: 8px 0;
    color: #0d0f4a;
}
/* label color */
.input-field label {
    color: #5273C9;
    right: 0;
    left: unset;
}
.input-field input[type=text] ,
.input-field input[type=email]  ,
.input-field textarea.materialize-textarea  {
    font-size: .8rem;
    border-color: #5273C9;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label ,
.input-field textarea.materialize-textarea:focus + label {
    color: #5273C9;
}
/* label underline focus color */
.input-field input[type=text]:focus ,
.input-field input[type=email]:focus,
.input-field textarea.materialize-textarea:focus{
    border-bottom: 1px solid #5273C9;
    box-shadow: 0 1px 0 0 #5273C9;
}
/* valid color */
.input-field input[type=text].valid ,
.input-field input[type=email].valid,
.input-field textarea.materialize-textarea.valid{
    border-bottom: 1px solid #5273C9;
    box-shadow: 0 1px 0 0 #5273C9;
}
/* invalid color */
.input-field input[type=text].invalid ,
.input-field input[type=email].invalid,
.input-field textarea.materialize-textarea.invalid{
    border-bottom: 1px solid #5273C9;
    box-shadow: 0 1px 0 0 #5273C9;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #5273C9;
}
.socials-box{position: relative;}
.socials-box:after{
    content:"";
    position: absolute;
    background:#5273C9; 
    bottom:0;
    height:60px;
    width: 100%;
    right: 0;
    z-index: 0;
}
.socials-box .frame{background: #00a3de;padding: 30px 0;position: relative;z-index: 1;border-radius: 20px;direction:ltr;text-align: center;margin: 0 auto;}
.socials-box .socials li {
    background: rgba(37, 37, 37, .1);
    border: 1px solid #5cc2e9;
    display: inline-block;
    height: 63px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    font-size: 1.2rem;
    line-height: 60px;
    cursor: pointer;
    transition: .3s all;
      -webkit-transition: .3s all;
      -moz-transition: .3s all;
}
.socials-box .socials li a{color: #fff;}
.socials-box .socials li.google:hover{background-color:#dd4b39 }
.socials-box .socials li.linkedin:hover{background-color:#007bb5 }
.socials-box .socials li.facebook:hover{background-color:#3b5998 }
.socials-box .socials li.flickr:hover{background-color:#e95950 }
.socials-box .socials li.twitter:hover{background-color:#55acee }

.socials-box .socials li a i{margin-right: 10px;}

.copy-right{background: #5273C9;color: #fff; padding: 20px  }
.copy-right h4{ font-family: DroidKufi-normal, sans-serif;font-size: 1.4rem;}
#backtotop { position: fixed; bottom: 20px; left: 20px; background:#0d0f4a;color:#fff;font-size:15px;font-weight:bold;text-align:center;line-height:50px; width: 50px; height: 50px; text-decoration: none; border-radius: 30%;cursor:pointer;}
